.header {
  padding-top: 24px;
  padding-bottom: 24px;
  z-index: 2;
  position: relative;
}

.header__container {
  /* max-width: 1180px; */
  max-width: 1240px;
  /*прибавил паддинги*/
  padding: 0 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 25px
}

.header__logo {
  margin-right: 65px;
  cursor: pointer;
}

.header__search {
  /* max-width: 692px; */
  flex-grow: 1;
  /* 1-й способ оттолкнет в правый край сердчко */
  margin-right: auto;
}

.header__favorite-btn {
  color: #fff;
  /*2-й способ оттолкнет в правый край сердечко */
  /* margin-left: auto; */
  transition: color .3s ease-in-out;
  line-height: 0;

}

.header__favorite-btn:hover {
  color: tomato;
}

.header__favorite-btn svg {
  /* box-shadow будет квадратная тень */
  -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, .7));
}

@media(max-width:1024px) {
  .header__container {
    /* max-width: 1180px; */
    max-width: 1224px;
    /*прибавил паддинги*/
    padding: 0 22px;

  }

  .header__search {
    /* 1-й способ оттолкнет в правый край сердчко */
    margin-right: 90px;
  }

}



@media(max-width:768px) {
  .header__container {
    /* max-width: 1180px; */
    max-width: 610px;
    /*прибавил паддинги*/
    padding: 0 15px;

  }


  .header__logo {
    margin-right: 15px;
  }

  .header__search {
    /* 1-й способ оттолкнет в правый край сердчко */
    margin-right: 20px;
  }

}


@media(max-width: 560px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header__container {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 17px;

  }

  .header__search {
    order: 1;
    flex-basis: 100%;
    margin-right: 0;
  }

  .header__logo {
    margin-right: 0;
  }
}

@media(max-width:320px) {}