html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-width: 320px;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
}


.container {
  max-width: 1650px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
}

@media(max-width:480px) {
  .container {
    max-width: 1620px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-width: 320px;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
}


.container {
  max-width: 1650px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
}

@media(max-width:480px) {
  .container {
    max-width: 1620px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }

}