.present {
  padding-top: 27px;
}

.present__hero {
  margin-bottom: 30px;
}

.present__title {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 90px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 8px;
}

.present__tagline {
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 54px;
  max-width: 350px;

}

.present__btn {
  display: block;
  width: 285px;
  height: 68px;
  filter: drop-shadow(-4px 6px 10px rgba(10, 10, 10, 0.51));
  border-radius: 2px;
  background: transparent url('../images/big-btn.png') center center /cover no-repeat;
  transition: filter, background-image .2s ease-out
}

.present__btn:hover {
  background: transparent url('../images/big-btn-hover.png') center center /cover no-repeat;
  /*2-ой способ*/
  /*filter:drop-shadow(-4px 6px 10px rgba(10, 10, 10, 0.51)) brightness(1.2);*/
}


@media(min-height: 850px) {
  .present {
    display: flex;
    flex-direction: column;
    flex-grow: 1
  }

  .present__container {
    flex-grow: 1;
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    max-height: 1300px;
  }
}

@media(max-width:1000px) {
  .present {
    padding-top: 25px;
  }

  .present__btn {
    display: block;
    width: 246px;
    height: 59px;
  }

  .present__title {
    font-size: 70px;
    margin-bottom: 9px;
  }

  .present__tagline {
    margin-bottom: 28px;
    max-width: 290px;
    font-size: 16px;
  }

  .present__hero {
    margin-bottom: 10px;
  }

}

@media(max-width:850px) {
  .present {
    padding-top: 53px;
  }

  .present__title {
    font-size: 60px;
  }

  .present__hero {
    margin-bottom: 20px;
  }

  .present__tabs {
    margin-top: -42px;
  }

}

@media(max-width:640px) {
  .present__tabs {
    margin-top: 0;
  }

  .present {
    padding-top: 68px;
  }

  .present__tagline {
    margin-bottom: 25px;
    max-width: 260px;
    font-size: 16px;
  }

  .present__title {
    font-size: 50px;
  }


}

@media(max-width:480px) {
  .present {
    padding-top: 87px;
  }

  .present__title {
    font-size: 45px;
  }

  .present__tagline {
    margin-bottom: 23px;
    max-width: 220px;
    font-size: 14px;
  }

  .present__hero {
    margin-bottom: 30px;
  }

  .present__btn {
    display: block;
    width: 100%;
    max-width: 380px;
    height: 63px;
  }
}

@media(max-width: 340px) {
  .present__btn {
    display: block;
    width: 100%;
    max-width: 320px;
    height: 63px;
  }
}