/* .advantage {} */

/* .container {} */

.advantage__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 42px;
}

.advantage__list {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.advantage__item {
  flex-basis: 290px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  min-height: 61px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 61px;
  padding: 10px 10px 10px 81px
}

.advantage__item_stack {
  background-image: url("../images/stack-icon.svg");
}

.advantage__item_mockup {
  background-image: url("../images/mockup-icon.svg");
}

.advantage__item_base {
  background-image: url("../images/base-icon.svg");
}

.advantage__item_adapt {
  background-image: url("../images/adapt-icon.svg");
}

.advantage__item_clear {
  background-image: url("../images/clear-icon.svg");
}

.advantage__item_copyright {
  background-image: url("../images/copyright-icon.svg");
}

@media(min-width:480px) {
  .advantage__title {
    font-size: 35px;
  }

  .advantage__list {
    gap: 40px;
  }

  .advantage__item {
    font-size: 16px;
    flex-basis: 100%;
  }
}


@media(min-width:768px) {
  .advantage__title {
    font-size: 40px;
    margin-bottom: 52px;
  }

  .advantage__list {
    gap: 80px 115px;
    justify-content: space-between;
  }

  .advantage__item {
    flex-basis: 290px;
    font-size: 16px;
    padding: 10px 10px 10px 81px
  }

  .advantage__item_stack {
    order: 0;
  }

  .advantage__item_adapt {
    order: 1;
  }

  .advantage__item_mockup {
    order: 2;
  }

  .advantage__item_clear {
    order: 4;
  }

  .advantage__item_base {
    order: 5;
  }


  .advantage__item_copyright {
    order: 6;
  }


}

@media(min-width:992px) {
  .advantage__title {
    font-size: 40px;
    margin-bottom: 52px;
  }

  .advantage__list {
    gap: 80px 117px
  }
}

@media(min-width:1160px) {
  .advantage__title {
    font-size: 45px;
    margin-bottom: 70px;
  }

  .advantage__list {
    gap: 80px 112px;
    /* justify-content: flex-start; */
  }

  .advantage__item {
    flex-basis: 320px;
    font-size: 18px;
  }
}

@media(min-width:1440px) {
  .advantage__title {
    font-size: 50px;
    margin-bottom: 80px;
  }

  .advantage__list {
    gap: 100px 125px
  }

  .advantage__item {
    flex-basis: 350px;
    font-size: 18px;
    background-size: 61px;
    padding: 10px 10px 10px 81px
  }
}