html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 14px;
  min-width: 320px;
  min-height: 100vh;
  font-weight: 500;
  color: #110303;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

/*убрать курсив по умолчанию*/
address {
  font-style: normal;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1110px;
}

section {
  padding: 30px 0;
}

@media(min-width:768px) {
  .container {
    padding: 0 40px;
  }
}

@media(min-width:992px) {
  .page__header {
    left: 0;
    top: 0;
    height: 100%;
    position: fixed;
  }
}

/* #A1B7C8 */
@media(min-width:1440px) {
  .page {
    background-image: linear-gradient(to right, #A1B7C8 24%, transparent 25%)
  }

  .page__header {
    left: calc(50% - 720px);
    top: 0;
  }
}

@media(min-width:2780px) {
  .page {
    background-image: linear-gradient(to right, #A1B7C8 30%, transparent 30%)
  }
}