html{
	box-sizing:border-box;
}

*,
*::before,
*::after{
	box-sizing:inherit;
}


body{
font-family: Open Sans,Helvetica,sans-serif;
font-size: 16px;
min-width: 320px;
min-height: 100vh;
font-weight: 500;
color:#110303;
background-color: #fff;
}

h1,h2,h3,h4,p{
	margin: 0;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
	color:inherit;
}

button{
	cursor: pointer;
	border:none;
	padding: 0;
	background-color: transparent;
}

img{
	max-width: 100%;
	height: auto;
}

/*убрать курсив по умолчанию*/
address{
	font-style: normal;
}