/* .portfolio__list {} */

/* .portfolio__item {} */

.portfolio__title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.card {
  box-sizing: border-box;
  max-width: 252px;
  margin: 0 auto;
  padding: 20px 14px;
  display: flex;
  flex-direction: column;
}

.card__picture {
  align-self: center;
  width: 155px;
  height: 92px;
  background-image: url("../images/macbook.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2px 15px 13px;
  margin-bottom: 30px;
}

.card__data {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 26px;
}

.card__client {
  line-height: 120%;

}

.card__date {
  line-height: 140%;
}

.card__title {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.portfolio__slider {
  position: relative;
  max-width: 290px;
  margin: 0 auto;

}

.portfolio__arrow {
  display: block;
  width: 26px;
  height: 26px;
  /* background-color: green; */
  background-image: url("../images/arrow-left-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  /* margin-top: -13px; */
}

.portfolio__arrow_left {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.portfolio__arrow_right {
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);

}